@model Ahorcado.Mvc.Models.GameModel
@{
    ViewData["Title"] = "Game";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="panel panel-default" style="margin-top:20px;">
        <div class="panel-heading">
            <div class="panel-title">Ahorcado - Juego</div>
        </div>
        @using (Html.BeginForm("TryLetter", "Game", FormMethod.Post))
        {
            <div class="panel-body form-horizontal">
                <div class="col-sm-6">
                    <div class="form-group">
                        <div class="col-sm-3">
                            <span>Letras Acertadas: <span id="LetrasAcertadas">@ViewBag.LetrasAcertadas</span></span>
                        </div>
                    </div>
                    @if (ViewBag.Finalizo)
                    {
                        <div class="form-group">
                            <div class="col-sm-3">
                                <span id="MessageResult">@ViewBag.Message</span>
                            </div>
                        </div>
                    }
                </div>
            </div>

            <div class="panel-body form-horizontal">
                <div class="col-sm-6">
                    <div class="form-group">
                        <div class="col-sm-3">
                            @Html.LabelFor(m => m.LetterToTry)
                        </div>
                        <div class="col-sm-3">
                            @Html.TextBoxFor(m => m.LetterToTry, new Dictionary<String, object>
                                {
                                    { "class", "form-control" }
                                })
                        </div>
                        <div class="col-sm-2">
                            <input type="submit" id="btnStartGame" value="Probar" class="btn btn-info" onclick="isLetter(evt)"/>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<script>
    function TryLetter_Click() {
        console.log($('#LetterToTry').text);
        }


    function isLetter(evt) {
    evt = (evt) ? evt : window.event;
    var charCode = (evt.which) ? evt.which : evt.keyCode;
    if ((charCode >= 65 && charCode <= 90) || (charCode >= 97 && charCode <= 122) || (charCode >= 160 && charCode <= 165)) {
        return true;
    }
    return false;
}
</script>

